<form (ngSubmit)="addMessage()">
  <p>
    名称：<input type="text" name="name" [(ngModel)]="name">
  </p>

  <p>
    内容：<input type="text" name="content" [(ngModel)]="content">
  </p>

  <p>
    <button type="submit">新增留言</button>
  </p>
</form>

<!-- 用 ng-container 来回圈就不需要额外再包一层了 -->
<ng-container *ngFor="let message of messages">

  <p>
    留言人： {{ message.name }}
  </p>

  <p>
    讯息内容： {{ message.content }}
  </p>

  <p>
    时间： {{ message.date | date: 'yyyy/MM/dd HH:mm:ss' }}
  </p>

</ng-container>

<router-outlet></router-outlet>
